extends ./layout.jade

block contenido
	form(action="/users" method="POST")
		div(class="form-group")
			label(for="email") Email
			input(type="email" name="email" placeholder="Email" id="email" class="form-control" required)
		div(class="form-group")
			label(for="password") Password
			input(type="password" name="password" id="password" class="form-control" required)