html
	head
		title NodeJs-Express-Jade
	body
		h1 Hola #{nombre}
		-var numeros = [1,2,3,4,5]
		p.
			Ir a #[a(href="https://www.facebook.com/") Facebook] ya
		if true
			each item in numeros
				p= item
				case item
					when 1
						p Fue unos
					when 2
						p Fue dos
					default 
						p No fue ni uno ni dos